absl-py==0.15.0
astunparse==1.6.3
cached-property==1.5.2
cachetools==4.2.4
certifi==2021.5.30
chardet==3.0.4
clang==5.0
cycler==0.11.0
dataclasses==0.8
decorator==4.4.2
et-xmlfile==1.1.0
flatbuffers==1.12
gast==0.4.0
google-auth==1.35.0
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
grpcio==1.43.0
h5py==3.1.0
idna==2.8
imageio==2.13.5
imutils==0.5.4
jdcal==1.4.1
joblib==1.1.0
JSON-minify==0.3.0
keras==2.6.0
Keras-Preprocessing==1.1.2
kiwisolver==1.3.1
mahotas==1.4.12
Markdown==2.6.11
matplotlib==3.3.4
networkx==2.5.1
numpy==1.19.5
oauthlib==3.1.1
opencv-python==4.5.5.62
openpyxl==3.0.9
opt-einsum==3.3.0
Pillow==8.4.0
protobuf==3.19.1
psutil==5.8.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pyparsing==3.0.6
PySide2==5.14.1
python-dateutil==2.8.2
PyWavelets==1.1.1
requests==2.22.0
requests-oauthlib==1.3.0
rsa==4.8
scikit-image==0.17.2
scikit-learn==0.24.2
scipy==1.5.4
shiboken2==5.14.1
six==1.15.0
tensorboard==2.6.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorflow==2.6.2
tensorflow-estimator==2.6.0
termcolor==1.1.0
threadpoolctl==3.0.0
tifffile==2020.9.3
torch==1.10.1
tqdm==4.62.3
typing-extensions==3.7.4.3
urllib3==1.25.11
Werkzeug==2.0.2
wrapt==1.12.1
